footer {
  width: 100vw;
  height: 100px;

  @include flex-box(display, flex);

  @include flex-box(justify-content, center);

  @include flex-box(align-items, center);

  font-family: BenchNine;
  font-size: 1.3rem;
  font-style: italic;
}
