header {
  @include break($mobile){
    display:flex;
    -ms-display:flex;
    -webkit-display:flex;
    -moz-display:flex;

    align-items: flex-end;
    -ms-align-items: flex-end;
    -webkit-align-items: flex-end;
    -moz-align-items: flex-end;
  }
}

.banner {
  width: 100vw;
  height: 100vh;

  position:relative;

  background: url('../images/jaime.jpg');
  background-attachment: fixed;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;

  @include break($mobile){
    &:before {
      content:"";
      position:absolute;
      width: 100vw;
      height: 100vh;
      top:0;
      left: 0;
      background:rgba(255,255,255,0.6);
    }
  }
}

.logo-box {
  padding: $logo-margins;
}

.header-logo{
  padding:$main-paddings;
  font-size: 25rem;
  position: relative;
  @include break(1000px, 401px){
    font-size: 15rem;
  }
  @include break(400px){
    font-size: 10rem;
  }
  &:before, &:after{
    padding:$main-paddings;
    content: 'J';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    transition: left 0.3s ease-out, color 0.3s ease-out;
  }
  &:before {
    color:$main-green;
    left: -5px;
  }
  &:after{
    left: -10px;
    color:$main-purple;
  }
  &:hover{
    &:after, &:before {
      left:0;
      color:black;
      transition: left 0.3s ease-out, color 0.3s ease-in;
    }
  }
}
