header {
  width: 100vw;
  height: 100vh;
  @include break($mobile){

    display:flex;
    -ms-display:flex;
    -webkit-display:flex;
    -moz-display:flex;

    align-items: flex-end;
    -ms-align-items: flex-end;
    -webkit-align-items: flex-end;
    -moz-align-items: flex-end;
  }
}

.banner {
  background: url('../images/jaime.jpg') fixed;
  background-position:50% 50%;
  background-size: cover;
}

.logo-box {
  padding: $logo-margins;
  // position: relative;
}

.header-logo{
  padding:$main-paddings;
  font-size: 20rem;
  position: relative;
  @include break(400px){
    font-size: 10rem;
  }
  &:before, &:after{
    padding:$main-paddings;
    content: 'J';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    transition: left 0.3s ease-out, color 0.3s ease-out;
  }
  &:before {
    color:$main-green;
    left: -5px;
  }
  &:after{
    left: -10px;
    color:$main-purple;
  }
  &:hover{
    cursor:pointer;
    &:after, &:before {
      left:0;
      color:black;
      transition: left 0.3s ease-out, color 0.3s ease-in;
    }
  }
}
