.meet {
  max-width: 100vw;
  min-height: 100vh;
  font-family: 'BenchNine';
  padding: $main-paddings;
  @include break($mobile){
    padding-right:0;
  }
  h2 {
    transform-origin: bottom;
    &::after, &::before{
      content: '';
      position: absolute;
      z-index:-1;
      border-radius: 100%;
      width:200px;
      height:200px;
      @include break($mobile){
        width:100px;
        height:100px;
      }
    }
    &::after{
      top:50px;
      left:50%;
      background:$faded-green;
    }
    &::before{
      top:0;
      left:43%;
      background:$faded-purple;
    }
  }
  p{
    font-size: 3rem;
    margin: $main-margins;
    margin-right: 7%;
    font-weight: lighter;
    @include break($mobile){
      font-size: 2rem;
    }
  }
}
