.meet {
  max-width: 100vw;
  min-height: 100vh;
  font-family: 'BenchNine';
  padding: $main-paddings;
  h2 {
    font-size: 6rem;
    margin: $main-margins;
    font-weight: bold;
    position: relative;
    &::after, &::before{
      content: '';
      position: absolute;
      z-index:-1;
      border-radius: 100%;
      height:200px;
      width:200px;
    }
    &::after{
      top:50px;
      left:50%;
      background:$faded-green;
    }
    &::before{
      top:0;
      left:43%;
      background:$faded-purple;
    }
  }
  p{
    font-size: 3rem;
    margin: $main-margins;
    font-weight: lighter;
  }
}
