.main-nav {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 2;
  ul{
    @include break(1000px, 401px){
      display:flex;
      -ms-display:flex;
      -webkit-display:flex;
      -moz-display:flex;

      justify-content: space-around;
      -ms-justify-content: space-around;
      -webkit-justify-content: space-around;
      -moz-justify-content: space-around;

      width: 100vw;
      background:white;

      @include break($mobile){
        height: 100vh;
        flex-direction: column;
        align-items: flex-end;
        justify-content:center;

      }
    }
  }
  li {
    font-family: BenchNine;
    font-size: 1.4rem;
    color:white;
    margin: 50px;
    padding: 10px;
    background: $main-purple;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    border: 1px solid transparent;

    transition: background 0.3s ease-out, border 0.3s ease-in;

    display: flex;
    -ms-display: flex;
    -webkit-display: flex;
    -moz-display: flex;

    justify-content: center;
    -ms-justify-content: center;
    -webkit-justify-content: center;
    -moz-justify-content: center;

    align-items: center;
    -ms-align-items: center;
    -webkit-align-items: center;
    -moz-align-items: center;


    &:hover{
      cursor: pointer;

      @include break(2000px, 1001px){
        border:1px solid darken($main-purple, 30%);
        text-shadow: 1px 1px 1px darken($main-purple, 20%);
        transition: border 0.3s ease-out, text-shadow 0.3s ease-out;
      }
    }

    &:active{
      transform: scale(0.9);
    }
    //correct spacing between nav items in mid-range screens
    @include break(750px, 401px){
      margin:20px;
      padding: 1%;
    }

    @include break($mobile){
      &[class="back-btn"]{
        display:none;
      }
      font-size:1.1rem;
      color:black;
      margin:0.5%;
      padding:0.5%;
      height: 3%;

      font-size: 1.2rem;
      color:white;
      margin: 20px;
      padding: 10px;
      background: $main-purple;
      width: 30px;
      height: 30px;
      border-radius: 100%;

    }
    @include break(1000px, 401px){
      margin-bottom: 3px;
      font-size: 1.6rem;
      margin-top:3px;
      background:transparent;
      color: black;
    }
  }
}

.backArrow {
  display: none;

  position: fixed;
  bottom: 0;
  right: 0;
  margin: 10px;
  padding: 10px;
}
