.songs-banner{
  width:100vw;
  height:300px;
  background-image: url('../images/guitar.jpg');
  background-attachment: fixed;
  background-position: top;
  background-size: contain;
}

.songs {
  max-width: 100vw;
  min-height: 100vh;
  font-family: $main-font;
  background-image: linear-gradient(90deg, $faded-green, $main-green);
  padding: $main-paddings;
  h2{
    font-size: 6rem;
    margin: $main-margins;
    font-weight: bold;
  }
}
