@import url("https://fonts.googleapis.com/css?family=BenchNine|Lobster&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

html {
  font-size: 12px;
  max-width: 100vw;
}

body {
  font-family: Lobster;
}

header {
  width: 100vw;
  height: 100vh;
}

.banner {
  background: url("../images/jaime.jpg") fixed;
  background-position: 50% 50%;
  background-size: cover;
}

.logo-box {
  padding: 10%;
}

.header-logo {
  padding: 3%;
  font-size: 20rem;
  position: relative;
}
.header-logo:before, .header-logo:after {
  padding: 3%;
  content: 'J';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  transition: left 0.3s ease-out, color 0.3s ease-out;
}
.header-logo:before {
  color: rgba(210, 255, 113, 0.9);
  left: -5px;
}
.header-logo:after {
  left: -10px;
  color: #a360f7;
}
.header-logo:hover {
  cursor: pointer;
}
.header-logo:hover:after, .header-logo:hover:before {
  left: 0;
  color: black;
  transition: left 0.3s ease-out, color 0.3s ease-in;
}

.main-nav {
  position: fixed;
  top: 0;
  right: 0;
}
.main-nav li {
  font-family: BenchNine;
  font-size: 1.4rem;
  color: white;
  margin: 20px;
  background: #a360f7;
  width: 80px;
  height: 80px;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-nav li:hover {
  cursor: pointer;
  border: 1px solid rgba(210, 255, 113, 0.9);
  color: rgba(210, 255, 113, 0.9);
}

.meet {
  max-width: 100vw;
  min-height: 100vh;
  font-family: 'BenchNine';
  padding: 3%;
}
.meet h2 {
  font-size: 6rem;
  margin: 5%;
  font-weight: bold;
  position: relative;
}
.meet h2::after, .meet h2::before {
  content: '';
  position: absolute;
  z-index: -1;
  border-radius: 100%;
  height: 200px;
  width: 200px;
}
.meet h2::after {
  top: 50px;
  left: 50%;
  background: rgba(210, 255, 113, 0.2);
}
.meet h2::after:hover {
  animation: buttonActive 0.3s linear;
}
.meet h2::before {
  top: 0;
  left: 43%;
  background: rgba(163, 96, 247, 0.2);
}
.meet p {
  font-size: 3rem;
  margin: 5%;
  font-weight: lighter;
}

.songs-banner {
  width: 100vw;
  height: 300px;
  background-image: url("../images/guitar.jpg");
  background-attachment: fixed;
  background-position: top;
  background-size: contain;
}

.songs {
  max-width: 100vw;
  min-height: 100vh;
  font-family: "BenchNine";
  background-image: linear-gradient(90deg, rgba(210, 255, 113, 0.2), rgba(210, 255, 113, 0.9));
  padding: 3%;
}
.songs h2 {
  font-size: 6rem;
  margin: 5%;
  font-weight: bold;
}

.video {
  max-width: 100vw;
  min-height: 100vh;
  font-family: "BenchNine";
  background-image: linear-gradient(90deg, rgba(163, 96, 247, 0.2), #a360f7);
  padding: 3%;
}
.video h2 {
  font-size: 6rem;
  margin: 5%;
  font-weight: bold;
}
.video .video-box {
  display: flex;
  justify-content: center;
}

.contact {
  max-width: 100vw;
  min-height: 100vh;
  font-family: "BenchNine";
  padding-right: 5%;
}
.contact h2 {
  font-size: 6rem;
  margin: 5%;
  font-weight: bold;
  position: relative;
}

.contact-page-content {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
}

.contact-form {
  margin: 5%;
  height: auto;
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border: 1px  solid black;
  border-radius: 10px;
  background-image: linear-gradient(rgba(210, 255, 113, 0.2), rgba(163, 96, 247, 0.2));
  box-shadow: 3px 3px 4px 2px rgba(0, 0, 0, 0.7);
}

.form-section {
  display: flex;
  justify-content: space-between;
}
.form-section label {
  align-self: flex-start;
  margin: 3%;
  font-size: 1.5rem;
}
.form-section input {
  width: 50%;
  height: 25px;
  align-self: flex-end;
  margin: 3%;
}
.form-section input[type="submit"] {
  margin: 3% auto;
  font-size: 0.5rem;
  font-weight: bold;
  align-self: center;
  width: 30%;
  height: 50px;
}
.form-section input[type="submit"]:hover {
  animation: buttonActive 0.3s ease-out forwards;
}
.form-section input:focus {
  border: 1px solid black;
}
.form-section textarea {
  min-width: 50%;
  max-width: 50%;
  height: 100px;
  align-self: flex-end;
  margin: 3%;
}

@keyframes slideLeft {
  0% {
    transform: translate(0px);
  }
  100% {
    transform: translateX(-100px);
    opacity: 0;
  }
}
@keyframes buttonActive {
  0% {
    transform: scale(1);
  }
  70% {
    transform: scale(1.3);
  }
  80% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1.3);
    box-shadow: 0px 1px 2px 2px rgba(0, 0, 0, 0.6);
    color: #a360f7;
  }
}
